<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin page</title>
</head>
<body>
<p th:text="${person.getUsername()}" >VALUE</p>
<p th:text="${person.getEmail()}">VALUE</p>
<p th:text="${person.getRole()}" >VALUE</p>
password: 1234567
<br/>
admin page
<br/>Only Admin here!
Only Admin here!
<br/>Only Admin here!
Only Admin here!
<br/>Only Admin here!
Only Admin here!
<br/>Only Admin here!
Only Admin here!e
<br/>Only Admin here!
Only Admin here!
<br/>
<hr/>
<a href="/hello">Hello page!!!</a>
<br/>
</body>
</html>